/* common style  */
.input-bg-part{
    background-color: #F8F8F8;
}

.btn-any-color{
    background-color: #082956;
}
.input-bg{
    background-color: #DCDCDC;
}
/* ------------------------ */
.errMag{
    color: rgb(196, 51, 51);
}